.woocommerce-products-header h1 {
    font-weight: 300;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    letter-spacing: .1em;
    text-transform: lowercase;
    color: #000;
    padding: 50px;
  }
  
  .uk-link {
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .woocommerce-breadcrumb a {
    color: #999;
  }
  
  .product-cat-wrap .uk-container,
  .single-product-wrap .uk-container {
    display: block;
    max-width: 1600px;
  }
  
  .uk-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .uk-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .uk-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .uk-width-2-5\@s {
    width: 40%;
  }
  
  [class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
  
  .uk-child-width-1-2>* {
    width: 50%;
  }
  
  [class*=uk-child-width]>* {
    box-sizing: border-box;
    width: 100%;
  }
  
  .uk-grid-item-match,
  .uk-grid-match>* {
    display: flex;
    flex-wrap: wrap;
  }
  
  .uk-grid-column-small>*,
  .uk-grid-small>* {
    padding-left: 15px;
  }
  
  .uk-grid>* {
    padding-left: 30px;
    margin: 0;
  }
  
  
  .uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-product .uk-panel {
    margin-bottom: 30px;
  }
  
  .uk-panel>:last-child {
    margin-bottom: 0;
  }
  
  .uk-panel {
    display: flow-root;
    position: relative;
    box-sizing: border-box;
  }
  
  .uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .filter-by-brand .list-cat {
    height: 100%;
    overflow-y: auto;
    max-height: 192px;
  
  }
  
  .pic {
    width: 280px;
    height: 250px;
  }
  
  .nameproduct {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 20px;
  }
  
  .prname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  
  .pro {
    max-width: 300px;
  }
  
  .products {
    padding: 10px;
    
  }
  .col-10 {
    width: 80%; /* Adjust the width as needed */
  }
  